$color-primary-purple: #35273a;
$color-primary-orange: #FFB770;
$color-secondary-purple: #8e709929;
$color-background-light-grey:#8E70991A;
$color-button-dark-brown: #FFB7704D;
$color-button-secondary-orange:#FFCFA1;

$font-heading: 'Nerko One', sans-serif;
$font-body: 'Mulish', sans-serif;
$font-secondary: 'Nokora', sans-serif;
