<section class="section-two">
    <h2>Your surveys</h2>
    <p>Ending soon surveys</p>
    <div class="ending-surveys">
      <div class="survey-card">
        <span class="span-category">Team activities</span>
        <h3>Let's Plan the Next Team Event Together</h3>
        <span class="span-deadline">Ends in 1 Day</span>
      </div>
      <div class="survey-card">
        <span class="span-category">Healt & Wellness</span>
        <h3>Fit & wellness survey!</h3>
        <span class="span-deadline">Ends in 2 Days</span>
      </div>
      <div class="survey-card">
        <span class="span-category">Gaming & Enterainment</span>
        <h3>Gaming habits and favorite games!</h3>
        <span class="span-deadline">Ends in 3 Days</span>
      </div>
    </div>
  </section>

  <section class="section-three">
    <div class="filter-buttons">
      <button>Active survey</button>
      <button>Past survey</button>
    </div>
    <div class="sort-dropdown">
      <button class="sort-toggle">
        Sort by categories
        <span class="arrow-wrapper">
          <img src="/icons/arrow_drop_down.svg" alt="" class="arrow-default" />
          <img src="/icons/arrow_drop_down_orange.svg" alt="" class="arrow-hover" />
        </span>
      </button>

      <ul class="sort-list">
        <li>Team Activities</li>
        <li>Health & Wellness</li>
        <li>Gaming & Entertainment</li>
        <li>Education & Learning</li>
        <li>Lifestyle & Preferences</li>
        <li>Technology & Innovation</li>
      </ul>
    </div>
  </section>

  <section class="section-four">
    <div class="survey-grid">
      <div class="list-card">
        <span class="span-category">Team activities</span>
        <h3>Let's Plan the Next Team Event Together</h3>
        <span class="span-deadline">Ends in 1 Day</span>
      </div>
      <div class="list-card">
        <span class="span-category">Gaming</span>
        <h3>Gaming habits and favorite games!</h3>
        <span class="span-deadline">Ends in 3 Day</span>
      </div>
      <div class="list-card">
        <span class="span-category">Gaming</span>
        <h3>Gaming habits and favorite games!</h3>
        <span class="span-deadline">Ends in 3 Day</span>
      </div>
      <div class="list-card">
        <span class="span-category">Healthy Lifestyle</span>
        <h3>Healthier future: Fit & wellness survey!</h3>
        <span class="span-deadline">Ends in 2 Day</span>
      </div>
      <div class="list-card">
        <span class="span-category">Healthy Lifestyle</span>
        <h3>Healthier future: Fit & wellness survey!</h3>
        <span class="span-deadline">Ends in 2 Day</span>
      </div>
      <div class="list-card">
        <span class="span-category">Team activities</span>
        <h3>Let's Plan the Next Team Event Together</h3>
        <span class="span-deadline">Ends in 1 Day</span>
      </div>
    </div>
  </section>