@use '../styles/variables' as *;

header {
  padding-top: 1.5rem;

  img {
    height: 40px;
  }
}
.section-one {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 220px;
}

.collect-feedback {
  margin-top: 3rem;

  p {
    color: #ffffff;
    font-family: 'Mulish';
    font-size: 20px;
    max-width: 570px;
  }
}

h1 {
  color: $color-primary-orange;
  font-family: $font-heading;
  line-height: 0.9;

  span {
    display: block;
    font-size: 6rem;
  }
}

.n-survey {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
  height: 42px;
  background-color: $color-button-secondary-orange;
  font-size: 16px;
  font-family: 'Mulish';
  font-weight: 700;
  color: #221227;
  border-radius: 10px;
  border: none;
  margin-top: 8px;
  transition: background-color 0.3s ease-in-out;

  .plus-icon {
    display: flex;
    align-items: center;
    width: 0;
    margin-left: 0;
    overflow: hidden;
    opacity: 0;
    transition:
      width 0.25s ease-in-out,
      margin-left 0.25s ease-in-out,
      opacity 0.2s ease-in-out 0.15s;

    img {
      height: 20px;
      width: 20px;
      flex-shrink: 0;
    }
  }

  &:hover {
    background-color: #d99a55;

    .plus-icon {
      width: 20px;
      margin-left: 8px;
      opacity: 1;
    }
  }
}

.smart-img {
  position: relative;
  margin-top: 80px;
  height: 360px;
  width: 220px;

  img {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease-in-out;
    height: 450px;
    width: auto;
  }

  .phone-hover {
    opacity: 0;
  }

  &:hover img:not(.phone-hover) {
    opacity: 0;
  }

  &:hover .phone-hover {
    opacity: 1;
  }
}

.section-two {
  padding-inline: 180px;
  h2 {
    color: $color-primary-orange;
    font-family: $font-heading;
    font-size: 4.5rem;
    text-align: center;
    padding-top: 70px;
  }

  p {
    color: #ffffff;
    font-size: 26px;
    font-family: 'Mulish';
    font-weight: 200;
  }

  .ending-surveys {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .survey-card {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    background-color: #faf5fe;
    height: 300px;
    width: 300px;
    border-radius: 0 60px 0 0;
    cursor: pointer;

    &:hover {
      background-color: #f4e9fb;
    }

    .span-category {
      color: $color-primary-purple;
      padding-left: 24px;
      padding-top: 34px;
      font-family: 'Mulish';
      font-size: 14px;
    }

    h3 {
      color: $color-primary-purple;
      padding-left: 24px;
      font-family: 'Mulish';
      font-weight: bold;
      font-size: 28px;
      max-width: 250px;
      justify-content: flex-end; // rechts
      align-items: center; // vertikal zentriert
    }

    .span-deadline {
      align-self: flex-start;
      margin-top: auto;
      color: $color-primary-purple;
      font-family: 'Mulish';
      font-size: 14px;
      padding: 4px 6px;
      border-top-right-radius: 14px;
      background-color: $color-button-secondary-orange;
      margin-bottom: 24px;
    }
  }
}
.section-three {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;

  .filter-buttons {
    display: flex;
    gap: 12px;
    padding-left: 180px;

    button {
      border: none;
      border-radius: 20px;
      padding: 8px 20px;
      font-family: 'Mulish';
      font-weight: 700;
      font-size: 16px;
      color: $color-primary-purple;
      cursor: pointer;
      background-color: #fee9d4;

      &:first-child {
        background-color: $color-primary-orange;
      }

      &:not(:first-child):hover {
        background-color: #ffcfa1;
      }
    }
  }
}
.sort-dropdown {
  position: relative;
  .sort-toggle {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    border-radius: 12px;
    padding: 10px 16px;
    color: #ffffff;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 16px;
    margin-right: 180px;

    &:hover {
      background-color: #d9d9d91f;
    }

    .arrow-wrapper {
      position: relative;
      width: 15px;
      height: 8px;
      display: inline-block;
    }

    .arrow-wrapper img {
      position: absolute;
      top: 0;
      left: 0;
    }

    .arrow-hover {
      opacity: 0;
    }

    &:hover .arrow-default {
      opacity: 0;
    }

    &:hover .arrow-hover {
      opacity: 1;
    }
  }
  .sort-list {
    display: none;
    list-style: none;
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 8px;
    padding: 12px 0;
    background-color: #ffffff;
    border-radius: 12px;
    min-width: 220px;

    li {
      padding: 10px 20px;
      color: $color-primary-purple;
      font-family: 'Mulish';
      cursor: pointer;
    }
  }
}

.section-four {
  padding-inline: 180px;
  margin-top: 40px;

  .survey-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    // max-width: 92%;
  }

  .list-card {
    background-color: #d9d9d914;
    border-radius: 0 60px 0 0;
    padding: 14px;
    display: flex;
    flex-direction: column;
    min-height: 80px;
    cursor: pointer;

    &:hover {
      background-color: #d9d9d929;
    }

    .span-category {
      color: $color-primary-orange;
      font-family: 'Mulish';
      font-size: 14px;
    }

    h3 {
      color: #ffffff;
      font-family: 'Mulish';
      font-weight: bold;
      font-size: 24px;
      margin: 8px 0;
    }

    .span-deadline {
      align-self: flex-end;
      margin-top: auto;
      padding: 4px 6px;
      border-top-right-radius: 14px;
      background-color: $color-button-secondary-orange;
      color: $color-primary-purple;
      font-family: 'Mulish';
      font-size: 14px;
    }
  }
}
//
